* {
  font-family: inherit;

}
body {
  background-color: #F1F1F1;
  scroll-behavior: smooth;
}

/*NAVBAR*/
.btn_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
 }
 
 .btn_login:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .btn_login:active {
  box-shadow: none;
 }

.material-symbols-outlined {
    animation: arrow 2s infinite ease-in-out;
  }
  
  @keyframes arrow {
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(0px, 3px);}
    20% {transform: translate(0px, 6px);}
    30% {transform: translate(0px, 9px);}
    40% {transform: translate(0px, 12px);}
    50% {transform: translate(0px, 15px);}
    60% {transform: translate(0px, 12px);}
    70% {transform: translate(0px, 9px);}
    80% {transform: translate(0px, 6px);}
    90% {transform: translate(0px, 3px);}
    100% {transform: translate(0px, 0px);}
  }


.dutaSam {
  position: absolute;
  margin: 5em;
  width: 25em;
  height: 25em;
  background-color: #29aafe;
  border-radius: 300px 20px 20px;
  z-index: 2;
}
.dutaSam2 {
  position: absolute;
  margin: 5em;
  width: 20em;
  height: 20em;
  background-color: #fe7e29;
  border-radius: 50px 200px 20px;
  z-index: 1;
}


.nas {
  width: 12.8em;
  padding: 0;
  margin-left: 2px;
  font-size: 50px;
  border-radius: 15px;
  background-color: #00aced;
}


.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  body:not(.no-js) .fadeup {
    opacity: 0;
    transition: 0s ease-out;
    transform: translateY(40px);
  }
  
  body:not(.no-js) .fading-up {
    opacity: 1;
    transition: 0.4s ease-out;
    transform: translateY(0px);
    transition-delay: 0.7s;
  }
  body:not(.no-js) .fadeup_gam {
    opacity: 0;
    transition: 0s ease-in;
    transform: translateX(-50px);
  }
  
  body:not(.no-js) .fading-up_gam {
    opacity: 1;
    transition: 0.4s ease-in;
    transform: translateX(0px);
    transition-delay: 0.7s;
  }
  
  
  .div1 { grid-area: 1 / 1 / 5 / 3; margin-left: 3em;}
  .div2 { grid-area: 3 / 3 / 5 / 4; margin-left: 20em;}
  .div3 { grid-area: 1 / 3 / 3 / 4; margin-top: 5em; margin-left: 20em;}



                          /* BERITA*/
  .main {
    height: 400px;
    width: 70em;
    margin: 7em 0 15em 6.5em;
  }
  
  .co {
    margin: 5px;
    width: auto;
    height: auto;
    white-space: nowrap;
  }
  
  .item {
      margin:1em;
      background-color: #ffffff;
      border-radius: 5px;
    max-width: 350px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  
  /* Flex */
  .flex {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
  }
  .flex-item {
    flex: 0 0 auto;
  }
  .gamber {
      background-color: aliceblue;
      width: 350px;
      height: 50%;
      border-radius: 5px 5px 0 0;
      
  }
  .co::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    
    .co::-webkit-scrollbar-track {
      background: #ffffff00;
    }
                            
  .co::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 0.5rem;
    }

                            /*FOOTER*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

